<mat-sidenav-container>
    <mat-sidenav opened mode="side" fixedInViewport fixedTopGap="64">
      <mat-nav-list>
          <a mat-list-item routerLink="">
              <mat-icon matListIcon>library_books</mat-icon>
              <span>Home</span>
          </a>
          <a mat-list-item routerLink="/livro/cadastrar">
              <mat-icon matListIcon>library_add</mat-icon>
              <span>Cadastrar Livro</span>
          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  