mat-card-content{
    padding: 16px;
}

.card{
    width: 100%;
}

mat-grid-tile{
    width: 100%;
}

.livro{
    flex: 1;
    margin-left: 8px;
}

.conteudo-livro{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

table{
    margin-top: 16px;
    width: 100%;
}