<a mat-raised-button color="warn" routerLink="/livro/cadastrar">
    <mat-icon>library_add</mat-icon>
    Adicionar novo Livro
  </a>
  
  <table mat-table [dataSource]="livros" class="mat-elevation-z8">
    
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let livro"> {{livro.isbn}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome do livro </th>
      <td mat-cell *matCellDef="let livro"> {{ livro.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let livro"> {{ livro.preco}} </td>
      </ng-container>
    
    <ng-container matColumnDef="criadoEm">
      <th mat-header-cell *matHeaderCellDef> Cadastrado em </th>
      <td mat-cell *matCellDef="let livro"> {{ livro.createdAt | date: "dd/MM/yyyy HH:mm:ss" }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>